ytd-watch-flexy[theater] #player-full-bleed-container.ytd-watch-flexy {
  height: 100vh !important;
  max-height: calc(100vh - 56px) !important;
}

ytd-watch-flexy[fullscreen] #player-full-bleed-container.ytd-watch-flexy {
  max-height: 100vh !important;
}
